# 주피터 노트북 기본

## 셀 추가/삭제
- 코드버튼 클릭 - Python 코드 셀 추가
- Markdown버튼 클릭 = 마크다운 셀 추가

### 단축키
- Ctrl + Enter 셀 실행 
- Shift + Enter 셀 실행 아래 같은 셀 추가
- Enter 현재 셀 진입
- ESC 현재 셀 빠져나가기
- b 현재 셀 아래 세 셀 추가
- a 현재 셀 위 세 셀 추가
- m 현재 셀(python) -> 마크다운 셀 변경
- y 현재 셀(Markdown) -> 파이선 셀 변경
- Shift + L 셀 라인번호 표시 토글

In [1]:
print('여기는 파이썬 셀')

여기는 파이썬 셀

## 일반출력
```python
print('Hello, python!') # 마크다운 코드추가
```

In [2]:
print('Hi~')

Hi~

### 이미지 추가

> **인용** 좀 하세요~ 제발

<img src="https://dojang.io/pluginfile.php/14085/mod_page/content/7/046011_.png" width="400">

<img src="https://raw.githubusercontent.com/hugoMGSung/pknu_aspnet_2023/main/images/restapi02.gif" width="400">


---

|제목|내용|비고|
|:-----|----------:|:----:|
|제목1|내용1|비고1|
|제목2|내용2|비고2|
|제목3|내용3|비고3|
|제목4|내용입니다4|비고4|
|제목입니다.|내용4|비고4예용|

### 주피터 노트북 디버깅

- 브레이크 포인트(중단점 클릭)
- Ctrl + Shift + Alt + Enter
    - py 디버깅과 동일(F10, F11) 사용

In [1]:
# 나누기 함수
def divide(x, y):
    result = ''
    try:
        result = x // y
    except Exception as e:
        print(f'예외발생 : {e}')
    
    print('나누기 완료')
    return result

In [4]:
print(divide(7, 0))

예외발생 : integer division or modulo by zero
나누기 완료

### 출력 python과 차이점

변수 출력할때 
- 변수명만 입력 후 실행 결과출력
- print() 도 출력
    - 단, 변수만 쓸때는 제일마지막 변수만 출력
    - 여러번 출력하고 싶으면 print() 사용할 것
    - 하지만, 변수를 그냥출력할 때와 print() 출력때랑 결과 다름!

In [5]:
a = 'Hello Python!'
a

'Hello Python!'

In [6]:
print(a)
print(a)

Hello Python!
Hello Python!

#### 경로 문제 해결

.py에서의 파일 경로와 .ipynb 경로가 다름
- .py  : ./Day04/dummy_members.csv
- .ipynb : ./dummy_members.csv

In [2]:
import pandas as pd

df = pd.read_csv('./dummy_members3.csv') # 주의점! 주피터노트북에서는 같은 폴더에 파일을 읽을때 
df

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,이은서,76500,경상남도 공주시 오금로 (서영장최동),052-448-2998,hhan@example.org
1,1,하중수,81071,부산광역시 서초구 압구정로 (정숙임이읍),032-956-9482,bagseongho@example.net
2,2,김지아,16095,인천광역시 서구 석촌호수로 (지현서김면),070-4753-9106,hyejini@example.org
3,3,강은영,66108,대구광역시 서초구 반포대거리,016-437-5564,gimseonyeong@example.org
4,4,김하윤,82883,강원도 청주시 흥덕구 개포460가,061-976-3879,qbag@example.com
5,5,김옥자,78590,경상남도 태안군 잠실길 (준영박송면),043-291-8507,ijihyeon@example.net
6,6,이경수,11666,대전광역시 북구 삼성거리 (경희김읍),016-138-2431,nson@example.com
7,7,손지우,75658,충청남도 청주시 흥덕구 압구정6거리 (성수이고면),043-267-2273,jaehyeon64@example.com
8,8,윤상훈,82819,전라북도 하남시 선릉로,042-108-5917,jongsu82@example.net
9,9,이성진,36089,울산광역시 서구 강남대40길,053-548-5071,phwang@example.com

In [4]:
import os

os.getcwd()

'c:\\Source\\bigdata-python-2023\\Day04'

#### 출력초과 문제

콘솔이나 주피터 셀출력 전체가 다 안나오는 현상(성능적 문제때문에 제약) 

```python
pd.options.display.max_columns = None
pd.options.display.max_rows = None
```

In [3]:
pd.options.display.max_columns = 10
pd.options.display.max_rows = 100
data = pd.read_csv('./dummy_members3.csv', encoding='utf-8')

data

,Unnamed: 0,이름,우편번호,주소,전화번호,이메일
0,0,이은서,76500,경상남도 공주시 오금로 (서영장최동),052-448-2998,hhan@example.org
1,1,하중수,81071,부산광역시 서초구 압구정로 (정숙임이읍),032-956-9482,bagseongho@example.net
2,2,김지아,16095,인천광역시 서구 석촌호수로 (지현서김면),070-4753-9106,hyejini@example.org
3,3,강은영,66108,대구광역시 서초구 반포대거리,016-437-5564,gimseonyeong@example.org
4,4,김하윤,82883,강원도 청주시 흥덕구 개포460가,061-976-3879,qbag@example.com
5,5,김옥자,78590,경상남도 태안군 잠실길 (준영박송면),043-291-8507,ijihyeon@example.net
6,6,이경수,11666,대전광역시 북구 삼성거리 (경희김읍),016-138-2431,nson@example.com
7,7,손지우,75658,충청남도 청주시 흥덕구 압구정6거리 (성수이고면),043-267-2273,jaehyeon64@example.com
8,8,윤상훈,82819,전라북도 하남시 선릉로,042-108-5917,jongsu82@example.net
9,9,이성진,36089,울산광역시 서구 강남대40길,053-548-5071,phwang@example.com