#### 서울 열린데이터 광장 공공데이터 수집

##### 서울열린데이터광장

In [1]:
import requests
import pandas as pd

In [4]:
# API호출키
apikey = '535a5452716c646a3130366550456c61'

In [5]:
url = f'http://openapi.seoul.go.kr:8088/{apikey}/xml/citydata_ppltn/1/5/광화문·덕수궁'

In [13]:
requests.get(url)
requests.get(url).text

'<Map><SeoulRtd.citydata_ppltn><AREA_NM>광화문·덕수궁</AREA_NM><AREA_CD>POI009</AREA_CD><AREA_CONGEST_LVL>약간 붐빔</AREA_CONGEST_LVL><AREA_CONGEST_MSG>사람들이 몰려있을 가능성이 크고 붐빈다고 느낄 수 있어요. 인구밀도가 높은 구간에서는 도보 이동시 부딪힘이 발생할 수 있어요.</AREA_CONGEST_MSG><AREA_PPLTN_MIN>40000</AREA_PPLTN_MIN><AREA_PPLTN_MAX>42000</AREA_PPLTN_MAX><MALE_PPLTN_RATE>52.3</MALE_PPLTN_RATE><FEMALE_PPLTN_RATE>47.7</FEMALE_PPLTN_RATE><PPLTN_RATE_0>0.1</PPLTN_RATE_0><PPLTN_RATE_10>1.3</PPLTN_RATE_10><PPLTN_RATE_20>16.0</PPLTN_RATE_20><PPLTN_RATE_30>28.7</PPLTN_RATE_30><PPLTN_RATE_40>27.3</PPLTN_RATE_40><PPLTN_RATE_50>17.2</PPLTN_RATE_50><PPLTN_RATE_60>6.3</PPLTN_RATE_60><PPLTN_RATE_70>3.1</PPLTN_RATE_70><RESNT_PPLTN_RATE>30.3</RESNT_PPLTN_RATE><NON_RESNT_PPLTN_RATE>69.7</NON_RESNT_PPLTN_RATE><REPLACE_YN>N</REPLACE_YN><PPLTN_TIME>2023-07-03 11:35</PPLTN_TIME><FCST_YN>Y</FCST_YN><FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 13:00</FCST_TIME><FCST_CONGEST_LVL>붐빔</FCST_CONGEST_LVL><FCST_PPLTN_MIN>40000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>42000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 14:00</FCST_TIME><FCST_CONGEST_LVL>붐빔</FCST_CONGEST_LVL><FCST_PPLTN_MIN>40000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>42000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 15:00</FCST_TIME><FCST_CONGEST_LVL>붐빔</FCST_CONGEST_LVL><FCST_PPLTN_MIN>36000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>38000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 16:00</FCST_TIME><FCST_CONGEST_LVL>붐빔</FCST_CONGEST_LVL><FCST_PPLTN_MIN>34000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>36000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 17:00</FCST_TIME><FCST_CONGEST_LVL>약간 붐빔</FCST_CONGEST_LVL><FCST_PPLTN_MIN>34000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>36000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 18:00</FCST_TIME><FCST_CONGEST_LVL>약간 붐빔</FCST_CONGEST_LVL><FCST_PPLTN_MIN>32000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>34000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 19:00</FCST_TIME><FCST_CONGEST_LVL>붐빔</FCST_CONGEST_LVL><FCST_PPLTN_MIN>36000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>38000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 20:00</FCST_TIME><FCST_CONGEST_LVL>보통</FCST_CONGEST_LVL><FCST_PPLTN_MIN>22000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>24000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 21:00</FCST_TIME><FCST_CONGEST_LVL>여유</FCST_CONGEST_LVL><FCST_PPLTN_MIN>16000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>18000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 22:00</FCST_TIME><FCST_CONGEST_LVL>여유</FCST_CONGEST_LVL><FCST_PPLTN_MIN>14000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>16000</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-03 23:00</FCST_TIME><FCST_CONGEST_LVL>여유</FCST_CONGEST_LVL><FCST_PPLTN_MIN>9000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>9500</FCST_PPLTN_MAX></FCST_PPLTN><FCST_PPLTN><FCST_TIME>2023-07-04 00:00</FCST_TIME><FCST_CONGEST_LVL>여유</FCST_CONGEST_LVL><FCST_PPLTN_MIN>6000</FCST_PPLTN_MIN><FCST_PPLTN_MAX>6500</FCST_PPLTN_MAX></FCST_PPLTN></FCST_PPLTN></SeoulRtd.citydata_ppltn></Map>'

##### 서울시 시군구별 사업체 데이터

In [26]:
biz_df = pd.read_excel('./사업체현황_2307.xlsx', header=3, usecols='B:G')
columns = {
    '동별(2)':'구',
    '소계':'사업체수',
    '여성대표자':'여성대표자',
    '소계.1':'종사자수계',
    '남':'종사자(남)',
    '여':'종사자(여)'
}
biz_df.rename(columns=columns, inplace=True)
biz_df.head()

c:\Program Files\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     구     사업체수   여성대표자    종사자수계   종사자(남)   종사자(여)
0   소계  1188091  407948  5771226  3218529  2552697
1  종로구    48361   16563   275063   153210   121853
2   중구    70308   25794   386564   213782   172782
3  용산구    29680   10454   152605    84314    68291
4  성동구    41665   13447   203221   116978    86243

In [30]:
# 첫번쨰 행 삭제
biz_df.drop([0], axis=0, inplace=True)
biz_df.head()

     구   사업체수  여성대표자   종사자수계  종사자(남)  종사자(여)
1  종로구  48361  16563  275063  153210  121853
2   중구  70308  25794  386564  213782  172782
3  용산구  29680  10454  152605   84314   68291
4  성동구  41665  13447  203221  116978   86243
5  광진구  33706  12297  129707   71124   58583

In [35]:
seoul_biz_df = biz_df[['구', '사업체수', '종사자수계']]
seoul_biz_df.head()

     구   사업체수   종사자수계
1  종로구  48361  275063
2   중구  70308  386564
3  용산구  29680  152605
4  성동구  41665  203221
5  광진구  33706  129707

In [36]:
seoul_biz_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   사업체수    25 non-null     int64
 2   종사자수계   25 non-null     int64
dtypes: int64(2), object(1)
memory usage: 732.0+ bytes

In [37]:
seoul_biz_df.to_excel('./seoul_biz.xlsx', index=False)